<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="search">
        <% if @model == 'user' %>
        	<h3>Users search for "<%= @content %>"</h3>
          <%= render 'user/users/index', users: @records %>
        <% elsif @model == 'liquor' %>
        	<h3>Liquor search for "<%= @content %>"</h3>
          <%= render 'user/liquors/index', liquors: @records %>
        <% elsif @model == 'genre' %>
        	<h3>Genre search for "<%= @content %>"</h3>
          <%= render 'user/liquors/index', genres: @records %>
        <% end %>
      </div>
    </div>
  </div>
</div>