<div class="container about-all-box">
  <div class="row">
    <div class="col-lg-12">
      <div class="about-top">
            <h1 class="top-title">
              <span>Favorite Liquor</span> とは？
            </h1>
      </div>
      <div class="about-title-image">
        <div class="about-title-image1">
          <%= image_tag 'drinks-2578446_1920.jpg', size: "1024x700" %>
        </div>
      </div>

      <div class="about-box1">
        <h3 class="about-title">
        お酒好きが集まるSNSです!
        </h3>
        <div class="about-image">
          <div class="about-image-box">
            <%= image_tag 'undraw_Choice_re_2hkp.png', size: "300x300" %><br/>
            <h5 class="about-image-text">飲んだお酒を投稿しよう</h5>
          </div>
          <div class="about-image-box">
            <%= image_tag 'undraw_Social_share_re_qb4v.png', size: "300x300" %><br/>
            <h5 class="about-image-text">他のユーザーに共有しよう</h5>
          </div>
          <div class="about-image-box">
            <%= image_tag 'undraw_Social_user_re_8cky.png', size: "300x300" %><br/>
            <h5 class="about-image-text">自分の知らないお酒に触れよう</h5>
          </div>
        </div>
      </div>

      <div class="about-box1">
        <h3 class="about-text">
          自分だけのお酒手帳にもなる
        </h3>
        <div class="about-image">
          <div class="about-image-box">
            <%= image_tag 'undraw_Photo_re_5blb.png', size: "300x300" %><br/>
            <h5 class="about-image-text">何を飲んだのかを記録</h5>
          </div>
          <div class="about-image-box">
            <%= image_tag 'undraw_diary_99km.png', size: "300x300" %><br/>
            <h5 class="about-image-text">投稿一覧から確認</h5>
          </div>
          <div class="about-image-box">
            <%= image_tag 'undraw_schedule_pnbk.png', size: "300x300" %><br/>
            <h5 class="about-image-text">
              投稿が楽しくなる</h5>
          </div>
        </div>
      </div>

  </div>
  </div>
</div>