<div class="top-image">
  <div class="image-mask">
    <div class="top container">
      <div class="row">
        <div class="col-lg-6">
         <h2 class="top-content">SIGN <span>UP</span></h2>
        </div>

        <div class="col-lg-6">
        <div class="signup-content">
          <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
          <%= render "devise/users/shared/error_messages", resource: resource %>

            <div class="field mt-2">
              <%= f.label :ユーザー名 %><br/>
              <%= f.text_field :name, autofocus: true, class: "name" %>
            </div>

            <div class="field mt-2">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field mt-2">
              <%= f.label :パスワード %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> 文字以上)</em>
                <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field mt-2">
              <%= f.label :パスワード（再確認） %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>

            <div class="actions mt-2">
              <%= f.submit "新規登録", class: "btn btn-success btn-lg" %>
            </div>
          <% end %>
        </div>
        </div>


            <div class="col-12">
              <div class="login-link">
                <h4 class="login-link-text">ログインはこちらから</h4>
                <p class="new-link"><%=render "devise/users/shared/links" %> </p>
              </div>
            </div>
            </div>
            </div>
    </div>
  </div>
</div>