<div class='container'>
  <div class='row'>

    <div class='col-md-5'>
  		<div class="liquor-image">
  		  <%= attachment_image_tag　@liquor, :liquor_image, :fill, 400, 400, fallback: "no_image.jpeg" %>
  		</div>
  	</div>

    <div class='col-md-3'>
        <div class="liquor-show-text">
          <div class="liquor-user">
            <div class="liquor-user-image">
              <%= link_to user_path(@liquor.user) do %>
                <%= attachment_image_tag @liquor.user, :user_image, :fill, 50, 50, fallback: "no_image.jpeg",size: "50x50", class:"rounded-circle";  %>
              <% end %>
              <span class="liquor-user-name"><%= @liquor.user.name %></span>
            </div>
          </div>
          <div class="liquor-name">
            <div class="liquor-name-text">
              <i class="fas fa-glass-martini-alt"></i> <%= @liquor.name %>
            </div>
          </div>
          <div class="liquor-introduction">
            <%= @liquor.introduction %>
          </div>
          <div class="liquor-introduction">
            ジャンル： <%= @liquor.liquor_genre %>
          </div>
          <div class="liquor-rate">
            <i class="far fa-star"></i> <%= @liquor.rate %>点
            <div id="star-rate-<%= @liquor.id %>"></div>
            <script>
            $('#star-rate-<%= @liquor.id %>').raty({
              size: 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              half: true,
              readOnly: true,
              score: <%= @liquor.rate %>,
            });
            </script>
          </div>

          <div class="favorite-comment">
            <div id="favorite_<%= @liquor.id %>">
             <%= render partial: 'user/favorites/favorite', locals: { liquor: @liquor} %>
          </div>
            <div class="comments-count"><i class="fas fa-comments"></i> コメント数: <%= @liquor.comments.count %></comment>
          </div>
          <div class="liquor-day"><i class="fas fa-calendar-alt"></i> <%= @liquor.day %></div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <table class="restaurant-info table table-bordered">
        <tr>
          <th>店名</th>
          <th><%= @liquor.restaurant_name %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%= @liquor.address %></th>
        </tr>
        <tr>
          <th>マップ</th>
          <th><%= render 'user/liquors/map', liquor: @liquor %> </th>
        </tr>
      </table>
    </div>

    <div class="col-md-12 edit-btn">
      <% if @liquor.user == current_user %>
        <%= link_to 'Edit', edit_liquor_path(@liquor), class: "btn btn-sm btn-success edit_liquor_#{@liquor.id}" %>
        <%= link_to 'Destroy', liquor_path(@liquor), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_liquor_#{@liquor.id}"%>
      <% end %>
    </div>

    <div class="col-md-12 comment-favorite">
      <div class="comments">
        <%= render 'user/comments/comment', liquor: @liquor %>
      </div>
      <div class="input-group　comment-form">
        <%= form_with model:[@liquor,@comment] do |f| %>
        <div class="form">
          <%= f.text_field :comment, size:"40x5", class: "form-control" %>
          <%= f.submit '送信', class: "btn btn-success" %>
        </div>
      <% end %>
      </div>
    </div>

  </div>
</div>