<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container ">
      <a class="navbar-brand" href="/"><span>Favorite Liquor</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <button type="button" class="btn btn-light mx-1" data-toggle="tooltip" data-placement="bottom" title="ユーザー一覧">
              <%= link_to users_path do %>
                <i class="fas fa-users"></i>
              <% end %>
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-light mx-1" data-toggle="tooltip" data-placement="bottom" title="投稿一覧">
              <%= link_to liquors_path do %>
                <i class="fas fa-glass-martini-alt"></i>
              <% end %>
            </button>
          </li>
          <li>
            <div class="dropdown open">
              <button class="btn btn-light dropdown-toggle mx-1"type="button" id="dropdownMenu3" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
                <i class="far fa-user"></i>
              </button>
              <div class="dropdown-menu text-center">
                <h6 class="dropdown-header">マイメニュー</h6>
                  <a class="dropdown-item" ><%= link_to "マイページ", user_path(current_user) %></a>
                  <a class="dropdown-item" ><%= link_to "ログアウト", destroy_user_session_path,method: :delete %></a>
              </div>
            </div>
          </li>
          <li><%= link_to '投稿', new_liquor_path, class: "btn btn-success mx-1" %></li>
        <% else %>
          <li><%= link_to ' Home',root_path,class: 'fas fa-home nav-link text-light' %></li>
          <li><%= link_to ' About',about_path,class: 'fas fa-link nav-link text-light' %></li>
          <li><%= link_to ' sign up', new_user_registration_path,class: 'fas fa-user-plus nav-link text-light' %></li>
          <li><%= link_to ' login', new_user_session_path ,class: 'fas fa-sign-in-alt nav-link text-light'%></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
